@use '../../assets/styles/themeVariables';

.usersList {
  background-color: themeVariables.$white;
  width: 100%;
  max-width: 500px;
  padding: 30px 30px;
  border-radius: 25px;
  box-shadow: 0 5px 15px -10px rgba(0, 0, 0, 0.3);
}

.users {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  font-size: themeVariables.$fontSizeXL;
  color: themeVariables.$darkGrey;
  font-weight: 700;
}
