@use '../../assets/styles/themeVariables';
.userListItem {
  display: flex;
  align-items: center;
  position: relative;
  &:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: themeVariables.$borderGrey;
  }
  button {
    align-self: start;
    margin-top: 19px;
  }
}

.name {
  font-size: themeVariables.$fontSizeL;
  font-weight: 700;
  color: themeVariables.$darkGrey;
  margin: 0;
}

.attendance {
  font-size: themeVariables.$fontSizeS;
  color: themeVariables.$darkGrey;
  margin: 0;
}

.userData {
  margin: 19px 10px 12px 19px;
}
