@use '../../assets/styles/themeVariables';
.userListItem {
  display: flex;
  align-items: center;
  position: relative;
  &:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: themeVariables.$borderGrey;
  }
}

.name {
  font-size: themeVariables.$fontSizeL;
  font-weight: 700;
  color: themeVariables.$grey;
}

.attendance {
  font-size: themeVariables.$fontSizeS;
  color: themeVariables.$grey;
}
