@use '../../assets/styles/themeVariables';

.newsArticle {
  margin: 17px 0;
  width: 100%;
  border-radius: 12px;
  color: themeVariables.$darkGrey;
  background-color: themeVariables.$white;
  padding: 40px 50px;
  box-shadow: 0 5px 15px -10px rgba(0, 0, 0, 0.3);

  p {
    line-height: 1.6;
    font-size: themeVariables.$fontSizeM;
  }
}

.newsTitle {
  h3 {
    margin: 0;
    font-size: themeVariables.$fontSizeL;
  }
  p {
    margin: 0;
    font-size: themeVariables.$fontSizeM;
  }
}

.newsContent {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
  }
}
