/* Fonts */

$fontSizeS: 12px;
$fontSizeM: 14px;
$fontSizeL: 19px;

/* Colors */

$white: #ffffff;
$black: #111111;
$lightGrey: #c0c7d6;
$grey: #737c8e;
$backgroundGrey: #f7f8fa;
$borderGrey: #dfe2e8;
$success: #8fcb81;
$error: #cb8581;
$warning: #e1d888;
