/* Fonts */

$fontSizeS: 12px;
$fontSizeM: 14px;
$fontSizeL: 19px;

/* Colors */

$white: #ffffff;
$black: #111111;
$lightGrey: #f7f8fa;
$grey: #c0c7d6;
$darkGrey: #737c8e;
$borderGrey: #dfe2e8;
$darkPurple: #c0c7d6;
$lightPurple: #eceff7;
$success: #8fcb81;
$error: #cb8581;
$warning: #e1d888;
