/* Fonts */

$fontSizeS: 11px;
$fontSizeM: 12px;
$fontSizeL: 17px;

/* Colors */

$white: #ffffff;
$black: #111111;
$lightGrey: #f7f8fa;
$grey: #c0c7d6;
$success: #8fcb81;
$error: #cb8581;
$warning: #e1d888;
