@use '../../assets/styles/themeVariables';

.wrapper {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  padding: 20px 40px 40px 40px;
  justify-content: center;
}

.userList {
  background-color: themeVariables.$white;
  width: 100%;
  max-width: 500px;
  padding: 30px 30px;
  border-radius: 25px;
  box-shadow: 0 5px 15px -10px rgba(0, 0, 0, 0.3);
  margin-left: auto;
  margin-right: auto;
}

.users {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  font-size: themeVariables.$fontSizeXL;
  color: themeVariables.$darkGrey;
  font-weight: 700;
}
