@use '../../assets/styles/themeVariables';

.UserListAverage {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  color: themeVariables.$white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: themeVariables.$fontSizeM;
}

.modalAverage {
  width: 68px;
  height: 68px;
  font-size: themeVariables.$fontSizeXL;
  display: flex;
  border-radius: 50%;
  color: themeVariables.$white;
  align-items: center;
  justify-content: center;
}

.goodAvr {
  background-color: themeVariables.$success;
}

.mediumAvr {
  background-color: themeVariables.$warning;
}

.badAvr {
  background-color: themeVariables.$error;
}

.noAvr {
  background-color: themeVariables.$grey;
}
